.container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-collapse: collapse;
  border: 1px solid black;
}

.arcans {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.arcan:nth-child(1n) {
  grid-column: span 2;
}

.arcan:nth-child(2n) {
  grid-column: span 2;
}

.arcan:nth-child(3n) {
  grid-column: span 2;
}

.arcan:nth-child(4n) {
  grid-column: span 3;
}

.arcan:nth-child(5n) {
  grid-column: span 3;
}

.arcan:nth-child(6n) {
  grid-column: span 6;
}
